<!DOCTYPE html>
<html>
  <head>
    <title>Admin home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= text %></h1>
    <input type="submit" value="logout" onclick="location.href='/signout_admin'" method="GET"/>
  </body>
</html>
