<!DOCTYPE html>
<html>
<head>
<title>Admin Sign Up</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
	<div class="container">
		<% if ( text ) {%>
		  <br>
		  <div class="alert alert-success" role="alert" align="center" id="close">
			<h4><%= text %></h4>
		  </div>
		  <% } %>
   <h1 >Admin Registration here</h1>
                <div >
                    <form action="/signupadmin" method="POST">
					  <p>Username</p>
					  <input type="text" name="username" required="required" placeholder="Example"/>
                      <p>Email</p>
                      <input type="text" name="email" id="identity"  required="required" placeholder="example@mail.com">
                      <p>Mobile</p>
                      <input type="tel" name="mobile" required="required" placeholder="91210*****" />                
                      <p>Password</p>
					  <input type="password" name="password" id="password1"  required="required" placeholder="Password">
					  <p>Confirm Password</p>
					  <input type="password" name="ConfirmPassword" id="password2"  required="required" placeholder="Confirm Password">
                        <br>
                        <br>
					   <input type="submit" value="Signup"/>
					   <input type="reset" value="Reset" />
					   <br>
					   <br>
                                <a href="/" method="GET">- - - - - Home - - - - - - </a>
					</form>
				</div>

<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function validatePassword(){
			var pass2=document.getElementById("password2").value;
			var pass1=document.getElementById("password1").value;
			if(pass1!=pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
				//empty string means no validation error
        }
        setTimeout(function(){
            document.getElementById('close').style.display = 'none';
        },3000);
</script>
</body>
</html>