<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Admin Login Page
        </title>
        <meta charset="utf-8">                
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/admin-style.css">
    </head>
    <body>
        <div class="container">
            <% if ( text ) {%>
            <br>
            <div class="alert alert-success" role="alert" align="center" id="close">
            <h4><%= text %></h4>
            </div>
            <% } %>
    <div>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size2">
        <form action="/login_admin" class="formset" method="POST">
            <h2 id="log"><u>Admin Login</u></h2><br>
            <h4>Username:</h4>
            <input  class="w3-border w3-round" type="text" name="username" placeholder="Alex" required>
            <h4 >Password:</h4>
            <input id="hover" class="w3-border w3-round" type="password" name="password" placeholder="password" required>
            <button class="w3-button w3-round w3-blue btn" onclick="location.href='/login_admin'">Sign In</button>
            <div class="anchor"><a href="/forgot_admin" >Forgot password?</a></div>
        </form>

        </div>
        <script>
        setTimeout(function(){
            document.getElementById('close').style.display = 'none';
        },5000);
        </script>
    </body>
</html>