<!DOCTYPE html>
<html>
    <head>
        <title>
            fee payment updation
        </title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/admin-style.css">
    </head>
    <body>
        <% if ( text ) {%>
            <br>
            <div class="alert alert-success" role="alert" align="center" id="close">
              <h4><%= text %></h4>
            </div>
            <% } %>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size2">
            <form action="/payfee" method="POST" >
                <h1>Fee updation</h1>
                <p>enter the admission number:</p>
                <input type="text" class="w3-border w3-round" name="rollno" /><br>
                <h1>Enter the fee</h1>
                <input type="number" class="w3-border w3-round" name="fee" /><br>
                <input type="submit" value="update" class="w3-button w3-round w3-blue btn"/>
             <input type="button" value="homepage" onclick="location.href='/admin_homepage'" class="w3-button w3-round w3-blue btn"/>

            </form>
        </div>
    </body>
</html>