<!DOCTYPE html>
<html>
  <head>
    <title>Admin Forgot Password page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/admin-style.css">
  </head>
  <body>
    
    <div class="container">
        <% if ( text ) {%>
        <br>
        <div class="alert alert-success" role="alert" align="center" id="close">
        <h4><%= text %></h4>
        </div>
        <% } %>
    <div>
    <form action="/forgot_admin" method="POST">
        <p>Email:</p>
        <input type="text" name="email" placeholder="example@gmail.com"/>
        <br><br>
        <input type="submit" value="Reset Password" class="w3-button w3-round w3-blue btn" />
    </form>
    
  </body>
</html>
