<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1>Reset your password here</h1> -->
    <div class="container">
        <% if ( text ) {%>
        <br>
        <div class="alert alert-success" role="alert" align="center" id="close">
        <h4><%= text %></h4>
        </div>
        <% } %>
    <div>
    <form action="/forgot" method="POST">
        <p>Email:</p>
        <input type="text" name="email" placeholder="example@gmail.com"/>
        <br><br>
        <input type="submit" value="Reset Password">
    </form>
    
  </body>
</html>
