<html>
    <head>
        <title>
            Home Page
        </title>
       
        <link rel="stylesheet" href="style1.css" type="text/css">
       
    </head>
    <body bgcolor="lightblue">
        
      
        

    
        <div class="search">

            <img src="images/schoollogo.jpg" width="125" height="112" align="left">
                
                        <font face="san-serif" size="6" color="blue" align="left"><i>SCHOOL NAME</i></font>
                        
                
                    
    
                   

            <form>
               
                <a href="contact.html" color="red">.CONTACT</a>&nbsp;&nbsp;
                <a href="portal.html">.PORTAL</a>&nbsp;&nbsp;
                <a href="calender.html">.CALENDER</a>
        
        

            </form>
        </div>
    
        
        
    </body>
</html>
