<html>
    <head>
        <link rel="stylesheet" href="style1.css" type="text/css">
    </head>
    <body bgcolor="#142b47">
<nav class="menu" bgcolor="#142b47">
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Admission</a></li>
        <li><a href="#">Academics</a></li>               
        <li><a href="#">Arts</a></li>
        <li><a href="#">Athietics</a></li>
        <li><a href="#">Alumini</a></li>
        <li><a href="#">Parents</a></li>
        
        <li><a href="#">News</a></li>
        

        




    </ul>
</nav>

</body>
</html>
