<!DOCTYPE html>
<html>
    <head>
        <title>
            fee payment details
        </title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/admin-style.css">
    </head>
    <body>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size2">
            <form action="/paymentInfo" method="POST" >
                <h1>Fee deatils</h1>
                <p>enter the admission number:</p>
                <input type="text" class="w3-border w3-round" name="rollno" /><br>
                <input type="submit" value="find" class="w3-button w3-round w3-blue btn"/>
            </form>
        </div>
    </body>
</html>